<tbody>
  <tr>
    <td><%= "#{cart_item.product.user.shop_name}" %></td>
    <td><%= "#{cart_item.product.name}" %></td>
    <td><%= "#{cart_item.product.variety}" %></td>
    <td><%= "#{cart_item.product.rank}" %></td>
    <td><%= "#{cart_item.product.weight}" %></td>
    <td><%= "#{cart_item.product.postage}" %></td>
    <td><%= "#{cart_item.product.price}" %></td>
    <td><%= "#{cart_item.quantity}" %></td>
  </tr>
<tbody>