<%= render "shared/header" %>


<h1>予約フォーム</h1>

<ol class="nav">
	<li class="current">1.予約日入力</li>
	<li>2.注文内容の確認</li>
	<li>3.完了</li>
</ol>

<%= form_with model: @reserve, method: :post, url: reserves_confirm_path, local: true do |f| %>
	<%= render 'shared/error_messages', model: f.object %>
	<dl>
		<dt>希望日</dt>
		<dd><%= f.date_field :reserve_on %></dd>
		<dt>備考</dt>
		<dd><%= f.text_field :remark %></dd>
  	<%= f.label :address_id, "登録先の住所" %>
  	<%= f.collection_select(:address_id, @addresses, :id, :full_address ) %>
		<%= f.hidden_field :total_price, :value => @total %>

	</dl>

	<%= f.submit '確認画面へ' %>
<% end %>

<%= render "shared/footer" %>