<%= render "shared/header" %>  

<div class="py-4">
    <section id="information">
      <div class="container border">
        <h3 class="mb-3">お店一覧</h3>
        <p>出店登録されているお店が表示されます。 </p>
        <% @users.each do |user|%>
          <div class="row">
            <!-- 左側セクション -->
            <div class="col-md-5 border-bottom">
              <section id="shop">
                <h4 class="mb-3">お店情報</h4>
                <!-- 店舗情報の表 -->
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>店名</th>
                      <td><%= user.shop_name%></td>
                    </tr>
                    <tr>
                      <th>名前</th>
                      <td><%=user.last_name %>  <%=user.first_name %></td>
                    </tr>
                    <tr>
                      <th>ヨミガナ</th>
                      <td><%=user.last_name_kana %>  <%=user.first_name_kana %></td>
                    </tr>

                  </tbody>
                </table>
                <!-- /店舗情報の表 -->
              </section>
            </div>
            <!-- /左側セクション -->

            <!-- 中央セクション -->
            <div class="col-md-5 border-bottom">
              <section id="shop">
                <h4 class="mb-3">取り扱い品種</h4>
                <!-- 店舗情報の表 -->
                <table class="table table-hover">
                  <tbody>
                    <% @products.where(user_id: user.id).distinct.pluck(:variety).each do |variety| %>
                    <tr>
                      <th>名前</th>
                      <td><%=variety %></td>
                    </tr>
                    <% end %>
                    

                  </tbody>
                </table>
                <!-- /店舗情報の表 -->
              </section>
            </div>
            <!-- /中央セクション -->

            <!-- 右側セクション -->
            <div class="col-md-2 border-bottom">
              <section id="shop">
                <h4 class="mb-3">↓こちらをCLICK</h4>
                <!-- 店舗情報の表 -->
                <table class="table table-hover">
                  <tbody>
                      
                    <tr>
                      <td>
                        <%= link_to image_tag("shop1.png", class:"img-fluid"), user_path(user.id)%>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <!-- /店舗情報の表 -->
              </section>
            </div>
            <!-- /右側セクション -->
          </div>

          
        <% end %>  
      </div>
    </section>
  </div>

<%= render "shared/footer" %>