<%= render "shared/header" %>  

  <div class="py-4">
    <section id="information">
      <div class="container">
        <h3 class="mb-3">マイページ</h3>
        <p>ここには出店者様と、現在出店登録されている商品が表示されます。 </p>
        <div class="row">
          <!-- 左側セクション -->
          <div class="col-md-6">
            <section id="shop">
              <h4 class="mb-3">出店者様情報</h4>
              <!-- 店舗情報の表 -->
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>店名</th>
                    <td><%= current_user.shop_name%></td>
                  </tr>
                  <tr>
                    <th>郵便番号</th>
                    <td>〒<%=current_user.postal_code %></td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td><%=current_user.prefecture%>  <%=current_user.city %>  <%=current_user.town %>  <%= current_user.extended_address %></td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td>〒<%=current_user.postal_code %></td>
                  </tr>
                  <tr>
                    <th>TEL</th>
                    <td><%= current_user.phone_number %></td>
                  </tr>
                  <%unless current_user.fax_number == "" %>
                    <tr>
                      <th>FAX</th>
                      <td><%= current_user.fax_number %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th>メールアドレス</th>
                    <td><%= current_user.email %></td>
                  </tr>
                  <tr>
                    <th>氏名(カナ)</th>
                    <td><%= current_user.last_name_kana %><%= current_user.first_name_kana %></td>
                  </tr>
                  <tr>
                    <th>氏名</th>
                    <td><%= current_user.last_name %>  <%= current_user.first_name %></td>
                  </tr>
                </tbody>
              </table>
              <!-- /店舗情報の表 -->
            </section>
          </div>
          <!-- /左側セクション -->
          
        </div>
      </div>
    </section>
  </div>
  
  
<!--ここから商品一覧-->



<div class="py-2">
  <section id="menu">
    <div class="container">
      <h3 class="mb-3">商品</h3>
      <p>現在出品している商品一覧です。</p>

      
      <!-- タブ型ナビゲーション -->
      <div class="nav nav-tabs" id="tab-menus" role="tablist">
        <% @products_count.each_with_index do | products, i | %>
          <% i += 1 %>
          <% if i == 1 %>
            <!-- タブ01 -->
            <a class="nav-item nav-link active" id="tab-menu0<%=i%>" data-bs-toggle="tab" href="#panel-menu0<%=1%>" role="tab" aria-controls="panel-menu0<%=i%>" aria-selected="true"><%= products %></a>
          <% else %>
            <!-- タブ02 -->
            <a class="nav-item nav-link" id="tab-menu0<%=i%>" data-bs-toggle="tab" href="#panel-menu0<%=i%>" role="tab" aria-controls="panel-menu0<%=i%>" aria-selected="false"><%= products %></a>
          <% end %>
        <% end %>
      </div>
      <!-- /タブ型ナビゲーション -->
      
      <!-- タブパネル -->
      <div class="tab-content" id="panel-menus">
        <% @products_count.each_with_index do | products, i | %>
          <% i += 1 %>
          <% if i == 1 %>
            <!-- パネル01 -->
            <div class="tab-pane fade show active border border-top-0" id="panel-menu0<%=i%>" role="tabpanel" aria-labelledby="tab-menu0<%=i%>">
              <div class="row p-3">
                <div class="col-md-9 order-md-2">
                  <h4><%= products %></h4>
                  <table class="table table-striped">
                    <tbody>
                    <% @products.where(variety: products).order(rank: :desc, weight: :asc).each do | product | %>
                      <tr>
                        <th><%= product.name %></th>
                        <td><%= product.rank %></td>
                        <td><%= product.weight %>kg</td>
                        <td>値段:<%= product.price %>円</td>
                        <td>送料:<%= product.postage %>円</td>
                        <td>在庫:<%= product.stock %></td>
                        <td>備考:<%= product.remark %></td>
                        <% if product.suspended == true %>
                          <td class="text-success">販売中</td>
                        <% else %>
                          <td class="text-danger">停止中</td>
                        <% end %>
                        <td><%= link_to '編集', edit_user_product_path(@user.id, product.id), class: "btn btn-success" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <img src="img/house_plants.jpg" alt="<%=products%>" class="img-fluid">
                </div>
              </div>
            </div>
          <% else %>
            <!-- パネル02 -->
            <div class="tab-pane fade border border-top-0" id="panel-menu0<%=i%>" role="tabpanel" aria-labelledby="tab-menu0<%=i%>">
              <div class="row p-3">
                <div class="col-md-9 order-md-2">
                  <h4><%= products %></h4>
                  <table class="table table-striped">
                    <tbody>
                      <% @products.where(variety: products).order(rank: :desc, weight: :asc).each do | product | %>
                      <tr>
                        <th><%= product.name %></th>
                        <td><%= product.rank %></td>
                        <td><%= product.weight %>kg</td>
                        <td>値段:<%= product.price %>円</td>
                        <td>送料:<%= product.postage %>円</td>
                        <td>在庫:<%= product.stock %></td>
                        <td>備考:<%= product.remark %></td>
                        <% if product.suspended == true %>
                          <td class="text-success">販売中</td>
                        <% else %>
                          <td class="text-danger">停止中</td>
                        <% end %>
                        <td><%= link_to '編集', edit_user_product_path(@user.id, product.id), class: "btn btn-success" %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-3">
                  <img src="img/flowering_trees.jpg" alt="<%=products%>" class="img-fluid"> 
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <!-- /タブパネル -->
    </div>
  </section>
</div>



<div class="text-center">
    <%= link_to '商品の新規出品', new_user_product_path(@user.id), class: "btn btn-primary" %>
  </div>

<%= render "shared/footer" %>