<header class="py-4">
    <div class="px-3 py-2 bg-white text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <%= image_tag "logo.png" %>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">出店者様はこちらから</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if user_signed_in? %>
                    <%= link_to 'マイページ', "#", class: 'dropdown-item' %>
                    <%= link_to '個人情報編集', edit_user_path(current_user), class: 'dropdown-item' %>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                  <% else %>
                    <%= link_to '新規登録', new_user_registration_path, class: 'dropdown-item' %>
                    <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %>
                  <% end %>
                </div>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">売上情報</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">新規作成</a>
                    <a class="dropdown-item" href="#">一覧</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">お客さま情報</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">新規作成</a>
                    <a class="dropdown-item" href="#">一覧</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">予約情報</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">新規作成</a>
                    <a class="dropdown-item" href="#">一覧</a>
                  </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 bg-dark border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="nav-item active">
              <a href="#" class="nav-link text-white">HOME</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">このサイトについて</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">出店一覧</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">アクセス</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">お問合せ</a>
            </li>
          </ul>

        <div class="text-end">
            <% if user_signed_in? %>
              <%= link_to current_user.shop_name, root_path, class: "btn btn-dark text-white me-2" %>
            <% elsif customer_signed_in? %>
              <%= link_to '個人情報編集', edit_customer_path(current_customer), class: "btn btn-primary" %>
              <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-danger me-2" %>
              <%= link_to current_customer.nickname, root_path, class: "btn btn-dark text-white me-2" %>
            <% else %>
              <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-primary" %>
              <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-light text-dark me-2" %>
            <% end %>
        </div>
      </div>
    </div>
  </header>

