<tbody>
  <tr>
    <td><%= "#{cart_item.product.user.shop_name}" %></td>
    <td><%= "#{cart_item.product.name}" %></td>
    <td><%= "#{cart_item.product.variety}" %></td>
    <td><%= "#{cart_item.product.rank}" %></td>
    <td><%= "#{cart_item.product.weight}" %></td>
    <td><%= "#{cart_item.product.postage}" %></td>
    <td><%= "#{cart_item.product.price}" %></td>
    <td>
      <div class="update">
        <%= form_with(url: update_item_url, method: :post,local: true) do |f| %>
          <%= f.hidden_field :product_id, value: cart_item.product.id %>
          <%= f.number_field :quantity ,value: cart_item.quantity %>
          <%= f.submit "更新", class: "btn btn-secondary" %>
        <% end %>
        <%= button_to "削除", delete_item_path(product_id: cart_item.product.id), method: :delete, class: "btn btn-light btn-outline-danger", data: { confirm: "商品を削除しますか？" } %>
      </div>
    </td>
  </tr>
</tbody>