<%= render "shared/header" %>

<div class="py-4">
    <section id="information">
      <div class="container border">
        <h3 class="mb-3">登録住所一覧</h3>
        <p>登録されている配送先が表示されます。 </p>
        <% @addresses.each do |address|%>
          <div class="row">
            <div class="col-md-10 border-bottom">
              <section id="shop">
                <h4 class="mb-3">住所</h4>
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>名前</th>
                      <td><%=address.last_name %>  <%=address.first_name %></td>
                    </tr>
                    <tr>
                      <th>ヨミガナ</th>
                      <td><%=address.last_name_kana %>  <%=address.first_name_kana %></td>
                    </tr>
                    <tr>
                      <th>郵便番号</th>
                      <td><%=address.postal_code %></td>
                    </tr>
                    <tr>
                      <th>住所</th>
                      <td><%=address.prefecture %> <%=address.city %><%=address.town %><%=address.extended_address %></td>
                    </tr>
                    <tr>
                      <th>電話番号</th>
                      <td><%=address.phone_number %></td>
                    </tr>
                    <tr>
                      <th>FAX番号</th>
                      <td><%=address.fax_number %></td>
                    </tr>
                    <%= link_to '編集', edit_address_path(address.id), class: "btn btn-success" %>
                    <%= link_to '削除', address_path(address.id), method: :delete, class: "btn btn-danger me-2" %>
                  </tbody>
                </table>
              </section>
            </div>
          </div>  
        <% end %>  
      </div>
    </section>
  </div>

<%= render "shared/footer" %>