<%= render "shared/header" %> 

<div class="border">
  <section id="information">
    <div class="container">
      <h3 class="mb-3">商品詳細ページ</h3>
      <p>ここには出品されている商品の詳細が表示されます。</p>
      <div class="row">
        <div class="col-md-6">
          <section id="shop">
            <h4 class="mb-3">商品情報</h4>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>商品名</th>
                  <td><%= @product.name%></td>
                </tr>
                <tr>
                  <th>品種</th>
                  <td><%=@product.variety %></td>
                </tr>
                <tr>
                  <th>玉数(ランク)</th>
                  <td><%=@product.rank%></td>
                </tr>
                <tr>
                  <th>商品重量</th>
                  <td><%=@product.weight %>kg</td>
                </tr>
                <tr>
                  <th>単価</th>
                  <td><%= @product.price %>円</td>
                </tr>
                <tr>
                  <th>在庫</th>
                  <td><%= @product.stock %></td>
                </tr>
                <tr>
                  <th>送料</th>
                  <td><%= @product.postage %>円</td>
                </tr>
                <tr>
                  <th>備考</th>
                  <td><%= @product.remark %></td>
                </tr>
              </tbody>
            </table>
          </section>
          <% if customer_signed_in? %>
            <td>
              <p class="text-danger">購入する場合は、数量を入力して「カートに追加」ボタンを押してください。<br>お客様のカートに追加されます。</p>
              <%= form_with model: @cart_item, url: add_item_path, method: :post, local: true do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.label :数量 %>
                  <%= f.number_field :quantity %>
                <%= f.submit "カートに追加" %>
              <% end %>
            </td>
          <% else %>
            <td>
              <p class="h5 text-danger">購入する場合はログインしてください。</p>
            </td>
          <% end %>
        </div>        
      </div>
    </div>
  </section>
</div>

  <%= render "shared/footer" %>